/* Style tab links */
.tablink {
    background-color: #C4C4C4;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 33.33333%;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s ease-in-out all;

    font-size: 18px;
    font-weight: bold;
}

.tablink:hover {
    background-color: #09B1B1;
    color: white;
}
.tablink:active {
    color: white;
}
/* Style the tab content (and add height:100% for full page content) */
.content-container {
    height: 1200px;
    background-color: #18426A;
    min-height: calc(100vh - 70px);
}
.intro-container {
    min-height: calc(100vh - 70px);
    overflow-y: auto;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px 20px;
    height: 100%;
}
/* Photo */
img.photo {
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Borders */
div.square {
    padding: 3%;
    height: 100%;
    width: 100%;
    border: 3px solid white;
    overflow: auto;
}

/* Card */
div.card {
    margin-bottom: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #18426A;
}
div.card:hover {
    box-shadow: 0px 4px 7px 0 rgba(0,2,0,0.4);
}
/* Skill bar */
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}

/* Carousel in Portofolio */
.carousel {
    height: 400px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    img.photo {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .tablink {
        font-size: 14px;
    }
    .content-container {
        height: 1000px;
    }
}