.contact-container {
    padding: 3%;
    background-color: #09B1B1;
    color: black;
    min-height: calc(100vh - 70px);
}
.comment-container {
    padding: 30px;
    padding-right: 70px;
    overflow-y: auto;
}
.contact-info {
    padding: 20px;
    padding-top: 30px;
    border-left: 2px solid #18426A;
}
.comment-form {
    width: 60%;
    padding-bottom: 15px;
}
span.dot {
    height: 40px;
    width: 40px;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 50%;
    display: inline-block;
    background-color: #18426A;
}

div.bottom-info {
    width: 70%;
    padding-bottom: 10%;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 5%;
}
div.socmed-cont {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
img.socmed-icon {
    padding: 3%;
    width: 40px;
    height: 40px;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    .comment-form {
        width: 100%;
    }
    .comment-container {
        padding-right: 30px;
    }
    .contact-info {
        border-top: 2px solid #18426A;
    }
}