body, html {
/*    background-color: #18426A;
    background-image: url("https://i.ibb.co/VLJCxj8/Webp-net-compress-image.jpg");
    background-size: cover;*/
    height: 100%;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    background-color: #18426A;
}
.parallax {
    /* The image used */
    background-image: url('% static 'background-web.png' %');
    /*background-image: url("https://i.ibb.co/YjvVHVM/Webp-net-compress-image.jpg");*/

    /* Full height */
    height: 100%; 
    text-align: center;
    padding-top: 25%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.header {
    background: #E5E5E5;
    color: #f1f1f1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}
.sticky + .content {
    padding-top: 102px;
}
button:focus {
    outline:0;
}

/* Text style */   
h1 {
    font-weight: 700;
    font-size: 64px;
    text-shadow: 3px 2px #18426A;
}
h2 {
    font-weight: 700;
    font-size: 48px;               
}
h3{
    font-weight: 300;
    font-size: 24px;
}
h4 {
    font-weight: normal;
    font-size: 20px;
}
h4 {
    font-weight: normal;
    font-size: 18px;
}
p {
    font-weight: normal;
    font-size: 14px;                
}
.white {
    color: white;
}   
.paragraph {
    text-align: justify;
    float: left;
    width: 70%;
}
.bold {
    font-weight: bold;
}       

/* Assets line */
.line {
    background-color: #09B1B1;
    height: 7px;
    margin: 5% 0 5% 0;
}

@media only screen and (max-width: 500px) {
    .parallax {
        padding: 20px;
    }
    h1 {
        margin-top: 10rem;
        font-size: 52px;
    }
    .paragraph {
        width: 100%;
    }
}
