<div class="square">
<div class="row">
	<div class="col-sm-5">
		<h4 class="bold">SKILL</h4>
		<br>
		<div class="skillbar clearfix " data-percent="90%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>Graphic Design</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">90%</div>
		</div> 

		<div class="skillbar clearfix " data-percent="80%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>HTML/CSS</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">80%</div>
		</div> 

		<div class="skillbar clearfix " data-percent="80%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>Java</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">80%</div>
		</div> 

		<div class="skillbar clearfix " data-percent="85%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>Python</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">85%</div>
		</div> 

		<div class="skillbar clearfix " data-percent="75%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>UI/UX</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">75%</div>
		</div> 

		<div class="skillbar clearfix " data-percent="70%">
		    <div class="skillbar-title" style="background: #09B1B1;"><span>Photography</span></div>
		    <div class="skillbar-bar" style="background: #09B1B1;"></div>
		    <div class="skill-bar-percent">70%</div>
		</div> 
	</div>

	<div class="col-sm-7">
		<h4 class="bold">WORK EXPERIENCE</h4>
		<div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2018</h5>
		        <h5>UI Designer algor.tv</h5>
		    </div>
		</div>
		<div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2018</h5>
		        <h5>Freelance Graphic Designer @741.DESIGN</h5>
		    </div>
		</div>
		<br>
		<h4 class="bold">ORGANIZATION & COMMITTEE</h4>
		<div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2019</h5>
		        <h5>Head of Media BEM Fasilkom UI 2019</h5>            
		    </div>
		</div>

		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Deputy of Media BEM Fasilkom UI 2018</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Person In Charge Medical PMB Fasilkom UI 2018</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Staff Online Marketing COMPFEST X</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Staff Documentation Open House Fasilkom UI 2018</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Staff Decoration The 25th CGT Fasilkom</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2018</h5>
		    <h5>Vice PIC Creative Navigasi Nahkoda 2018</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2016</h5>
		    <h5>Project Officer LITERATURE 2016 PMR SMAN 1 Bogor</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2016</h5>
		    <h5>Member of Secretariat Unit PMR SMAN 1 Bogor</h5>
		    </div>  
		</div>
		<div class="card">
		    <div class="card-body"> 
		    <h5 class="bold">2015</h5>
		    <h5>Member of Health Unit PMR SMAN 1 Bogor</h5>
		    </div>  
		</div>
	</div>

</div>
</div>

