<div class="comment-form">
	<h4 class="bold" style="color: #18426A">Please kindly drop some words for me!</h4>
	<form method="POST" action="{% url 'post' %}">
	    {% csrf_token %}
	    {{ comment_form }}
	    <br>
	    <button name="submit" type="submit" class="btn btn-default">Post</button>
	    <br>
	</form>
</div>

{% if comment_all %}
{% for c in comment_all %}
<div class="card">
    <div class="card-body">
        <h5>{{c.comment}}</h5>
        <p class="created-date">{{c.created_date}}<p>
    </div>
</div>                      
{% endfor %}

{% else %}
<div class="card">
    <h2>Give your first opinion about me!</h2>
</div>
{% endif %}   