<div class="square">
<div class="row">
	<div class="col-sm-6">
		<h4 class="bold">EDUCATION</h4>
	    <div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2017-Now</h5>
		        <h5>Computer Science, Universitas Indonesia</h5>
		    </div>
	    </div>
	    <div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2014-2017</h5>
		        <h5>SMA Negeri 1 Bogor</h5>   
		    </div>
	    </div>
	    <div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2011-2014</h5>
		        <h5>SMP Negeri 8 Bogor</h5>
		    </div>
	    </div>
	    <div class="card">
		    <div class="card-body">        
		        <h5 class="bold">2005-2011</h5>
		        <h5>SDIT Al-Madinah</h5>  
		    </div>
	    </div>  
	</div>    

	<div class="col-sm-6">
		<h4 class="bold">ACHIEVEMENT</h4>
		<div class="card">
		    <div class="card-body">        
		    <h5 class="bold">2018</h5>
		    <h5>2nd Winner of Code In The Dark RISTEK FESTIVAL 2018</h5>
		    </div>
		</div>
		<div class="card">
		    <div class="card-body">        
		    <h5 class="bold">2016</h5>
		    <h5>1st Winner of Red Cross Recycle in AKAS SMAN 2 Bogor</h5>
		    </div>
		</div>           
		<div class="card">
		    <div class="card-body">        
		    <h5 class="bold">2016</h5>
		    <h5>3rd Winner of Handcraft Male Level in FLS2N Kota Bogor</h5>
		    </div>
		</div>
		<div class="card">
		    <div class="card-body">        
		    <h5 class="bold">2018</h5>
		    <h5>2nd Winner of First Aid Competiton in WKB SMKN 2 Bogor</h5>
		    </div>
		</div>
	</div>      
</div>         
</div>