{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'import.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style-tab.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style-contact.css' %}">   
        <title>
            PERSONAL WEB | Revan Ragha Andhito
        </title>
    </head>

    <body>
        <div class="parallax">
            <h1 id="demo"></h1>
        </div>

        <div class="header" id="myHeader">
          <button href="#intro" class="tablink" onclick="openPage('intro', this, '#18426A')" id="defaultOpen">Introduction</button>
          <button href="#about" class="tablink" onclick="openPage('about', this, '#18426A')">About Me</button>
          <button href="#education" class="tablink" onclick="openPage('education', this, '#18426A')">Education</button>
          <br>
          <br>
        </div>

        <span class="content-container">
            <div id="intro" class="tabcontent">
                {% include 'intro.html' %}
            </div>            
            <div id="about" class="tabcontent">
                {% include 'about.html' %}
            </div>
            <div id="education" class="tabcontent">
                {% include 'education.html' %}
            </div>           
        </span>

        <div class="parallax" style="height: 20%"></div> 

        <div class="contact-container">
            <div class="row">
                 <div class="col-sm-8 comment-container">
                    {% include 'comment.html' %}
                </div>
                <div class="col-sm-4 contact-info">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    {% include 'my-info.html' %}
                </div>
            </div>
        </div>
    </div>

    <script src="../static/home.js"></script>

    </body>
</html>