<div class="row intro-container">
    <div class="col-sm-4" style="padding: 5%;">
        <img class="photo" src="https://i.ibb.co/bW9NzZn/Revan-3x4-01.png" alt="revan home" border="0" />
    </div>

    <div class="col-sm-8" style="padding: 5%;">
        <br>
        <h2>REVAN RAGHA ANDHITO</h2>
        <h3>Undergraduate Student</h3>
        <h3>Computer Science, Universitas Indonesia</h3>
        <div class="line" style="width: 40%;"></div>
        <p class="paragraph">An ambivert type person that <b>organized, initiative,</b> and
            <b>visionary</b> with a lot of <b>creative and innovative ideas</b>. Passioned
            to try new things and wants to be a <b>good and helpful</b> person.
        </p>               
    </div>
</div>