<div class="bottom-info">
    <h5 >E-mail</h5>
    <h4 class="bold">revan.ragha@ui.ac.id</h4>
    <h5 >Phone</h5>
    <h4 class="bold">+62 858 1052 5610</h4>
    <div class="socmed-cont">
        <a href="https://www.linkedin.com/in/revanrgh">
            <img class="socmed-icon" src="https://i.ibb.co/vBwNDdc/linkedin-logo.png" alt="linkedin" border="0" /></a>
        <a href="https://instagram.com/revanrgh">
            <img class="socmed-icon" src="https://i.ibb.co/RCfddDx/instagram.png" alt="instagram" border="0" /></a>
        <a href="http://line.me/ti/p/~revanrgh">
            <img class="socmed-icon" src="https://image.ibb.co/kHdLMe/line.png" alt="line" border="0" /></a>
        <a href="https://www.behance.net/revanrgh">
            <img class="socmed-icon" src="https://i.ibb.co/gRgzVWB/behance.png" alt="behance" border="0" /></a>
    </div>
</div>